*.pkl
*.npy
*.gz
.ipynb_checkpoints
.Rproj.user
.Rhistory
*.RData
*.DS_Store
*.pyc
*.pdf
*.csv
*.npz
data/mnist.pkl.gz
python/.idea/.name
*.png
!0.png
!Figure_Overview.png
*.p
*.RData
*.rdata
*.Rdata
*.npz
*.pickle
dumm*
log*
!logloss*
models*
nohup.out
submission
